.civilization-screen {
  background-image: url('../../images/civilization-bg.svg') !important;
  background-position: center bottom !important;
  background-repeat: no-repeat !important;
  background-blend-mode: overlay !important;
  background-size: contain !important;
}
