.user-menu {
    background-color: transparent;
    border-radius: .25rem;
    border: 1px solid #444;
    cursor: pointer;
    display: flex;
    height: 3.5rem;
    justify-content: center;
    margin-left: auto;
    padding: .5rem;
    transition: 350ms background-color;
    width: 100%;
    &:hover {
        background: #444;
        box-shadow: 0 0 4px black;
        transition: 350ms background-color;
    }
}

.user-info {
    text-align: right;
}

.user-info-name {
    font-weight: bold;
}

.user-info-civ {
    font-weight: light;
}

.user-profile {
    height: 2rem;
    margin: 0 .5rem;
}
.user-profile img {
    border-radius: 50%;
    height: 2rem;
}