.clickopolis-menu {
	align-items: center;
	background: #27252b;
	color: #fafafa;
	position: fixed;
	padding: 0.25rem;
	width: 20%;
	resize: horizontal;
	height: 100vh;
	//padding: 1rem;
}

.main-nav ul {
	list-style-type: none;
	padding: 0;
}

.main-nav li {
	background: #333;
	display: flex;
	align-items: center;
	padding: 0.25rem;
}

.main-nav li span {
	display: inline-block;
	margin-left: 0.5rem;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.main-nav img {
	height: 32px;
}
