@import 'normalize';
@import '~react-tippy/dist/tippy.css';

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background: linear-gradient(#222, #444);
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
    user-select: none;
}

html,
body,
#root,
#app {
    height: 100%;
}

.clickopolis-screen {
    background: #222;
    box-shadow: 0 0 1px rgba(black, 0.7);
    height: 85vh;
    margin: .5rem;
    padding: 1rem;
    transition: 350ms all;
    width: 700px;
}

.screen-header {
    align-content: center;
    display: flex;
    justify-content: center;
    padding: 1rem;
    text-align: center;
    h2 {
        color: white;
        margin: .25rem;
    }
}