@import 'mixins';
@import 'normalize';


$placements: 'top', 'bottom', 'left', 'right';
$origins: bottom, top, right, left;
$backdrop-origins: 0% 25%, 0% -50%, 50% 0%, -50% 0%;
$backdrop-border-radii: 40% 40% 0 0, 0 0 30% 30%, 50% 0 0 50%, 0 50% 50% 0;

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #333;
  padding: 2px;
  border-radius: .25rem;
}

::-webkit-scrollbar-thumb {
    background: #666;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
    user-select: none;
}

html,
body,
#root,
#app {
    height: 100%;
}

// @keyframes appear {
//     from {
//         opacity: 0;
//     }
//     to {
//         opacity: 1;
//     }
// }

// .tippy-tooltip {
//     animation: 300ms appear 1;
//     background: #0e0d0d !important;
//     transition: 500ms all;
// }

.clickopolis-app.paused {
    pointer-events: none !important;
    filter: grayscale(100%);
    transition: 1s filter ease-in;
}

.clickopolis-screen {
    background: #222;
    box-shadow: 0 0 1px rgba(black, 0.7);
    //margin: .5rem;
    //padding: 1rem;
    //padding-top: 0;
    transition: 350ms all;
    min-height: 100vh;
}

.screen-header {
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    letter-spacing: 2px;
    text-align: left !important;
    text-transform: uppercase;
    position: sticky;
    h2 {
        color: white;
        margin: .25rem;
        font-size: 1.5rem;
    }
}

.hidden {
    display: none !important;
}
