.resources-screen {
    background: #222;
    padding: 1rem;
}

.screen-header {
    align-content: center;
    display: flex;
    justify-content: center;
    padding: 1rem;
    text-align: center;
    h2 {
        color: white;
        margin: .25rem;
    }
}