$food-button-color: #1edb50;
$prod-button-color: #e6d83e;



.resources-main-buttons {
    display: flex;
    flex-direction: column;
    .resources-main-buttons-row {
        align-content: center;
        align-items: flex-end;
        display: flex;
        height: 64px;
        flex-direction: row;
    }
}

.food-button {
    all: unset;
    align-content: center;
    background: $food-button-color;
    border-bottom: 2px solid darken($food-button-color, 15%);
    border-radius: 4px;
    box-shadow: 0 0 1rem rgba(white, 0.1);
    color: #222;
    cursor: pointer;
    display: flex;
    margin: .25rem;
    padding: .5rem;
    vertical-align: middle;
    width: 12rem;

    span {
        display: inline-block;
        margin-left: .5rem;
    }

    &:hover {
        background: lighten($food-button-color, 5%);
        transition: 200ms all;
    }

    &:active {
        border-bottom: 0 solid transparent;
        transform: translateY(4px);
        transition: 200ms all;
    }
}

.plus-food-sign {
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 1px solid #222;
    pointer-events: none;
    transition: 250ms ease-in;
}

.clickopolis-button-value {
    font-weight: bold;
}

.prod-button {
    @extend .food-button;
    background: $prod-button-color;
    border-bottom: 2px solid darken($prod-button-color, 15%);

    

    &:hover {
        background: lighten($prod-button-color, 5%);
        transition: 200ms all;
    }
}
