.start-screen-options {
    color: white;
    background: rgba(black, 0.2);
    border-radius: .25rem;
    margin: 1rem;
    padding: 1rem;
}

.option-wrapper {
    display: flex;
    margin: .5rem;
}

.option-name {
    font-size: .9rem;
    margin: 0 .5rem;
    text-align: left;
    width: 16rem;
    color: #ddd;
    text-transform: lowercase;
}

input {
    color: #111;
    border: 1px solid #ccc;
    border-radius: .25rem;
    padding: .25rem;
}