.leader-select {
    background: #222;
    border: 1px solid #111;
    border-radius: .25rem;
    color: white;
    cursor: pointer;
    height: 20rem;
    overflow: scroll;
    padding: .25rem;
    width: 20rem;
    &.open {
        box-shadow: 0 0 4px rgba(black, 0.1);
        .leader-option {

        }
    }
}

.leader-option {
    align-items: center;
    background: #222;
    color: white;
    display: flex;
    height: 3rem;
    position: relative;
    text-align: center;
    z-index: 1;
    &.selected {
        background: rgba(255, 255, 255, 0.2);
    }
}