.leader-select {
    background: white;
    border: 1px solid #ccc;
    border-radius: .25rem;
    cursor: pointer;
    height: 3rem;
    padding: .25rem;
    width: 100%;
    &.open {
        box-shadow: 0 0 4px rgba(black, 0.1);
        .leader-option {
            border: 1px solid #ccc;
            border-bottom: 1px solid transparent;
            &:not(:first-of-type) {
                margin-left: -4px;
                width: calc(100% + 8px);
            }
            &:first-of-type {
                border: 1px solid transparent;
                border-bottom: 1px solid transparent;
            }
            &:last-of-type {
                border-bottom: 1px solid #ccc;
            }
            &:nth-of-type(2) {
                margin-top: 4px;
            }
        }
    }
}

.leader-option {
    align-items: center;
    background: white;
    border: 1px solid transparent;
    display: flex;
    justify-content: space-between;
    height: 100%;
    position: relative;
    z-index: 1;
}