.clickopolis-menu {
    background: #222;
    color: #fafafa;
    padding: 1rem;
}

.clickopolis-menu ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.clickopolis-menu li {
    margin: .25rem;
}