.clickopolis-menu {
    align-items: center;
    background: #222;
    color: #fafafa;
    display: flex;
    height: 3rem;
    //padding: 1rem;
}

.clickopolis-menu ul {
    align-content: center;
    display: inline-flex;
    //height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.clickopolis-menu li {
    margin: .25rem;
}

.clickopolis-menu-text {
    background: #000;
    display: inline-block;
    font-weight: bold;
    height: 100%;
    padding: .75rem;
}