.start-screen {
    align-content: center;
    align-items: center;
    background: #222;
    border: 1px solid #444;
    border-radius: .25rem;
    box-shadow: 0 0 4rem #111;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}

.clickopolis-heading {
    margin: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    img {
        border-radius: 50%;
        height: 3rem;
        margin: 0 .25rem;
    }
}

.start-new-game-button {
    align-items: center;
    background: rgb(65, 94, 148);
    border: 1px solid rgb(65, 94, 148);
    border-radius: 0;
    box-shadow: 0 0 .25rem rgba(black, 0.33);
    color: #eee;
    display: flex;
    font-size: 2rem;
    justify-content: center;
    padding: .5rem;
    text-align: center;
    width: 24rem;
    &:hover {
        background: lighten(rgb(65, 94, 148), 13%);
    }
    img {
        margin: .25rem;
    }
}

.start-button {
    @extend .start-new-game-button;
    background: lightgreen;
    border: 1px solid darken(lightgreen, 5%);
    color: #222;
    justify-content: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    &:hover {
        background: darken(lightgreen, 10%);
    }
    img {
        border-radius: 50%;
    }
}