.start-screen {
    align-content: center;
    align-items: center;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: .25rem;
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: flex-start;
    padding: 1rem;
    width: 90vh;
}

.clickopolis-heading {
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    img {
        border-radius: 50%;
        height: 3rem;
        margin: 0 .25rem;
    }
}

.start-new-game-button {
    align-items: center;
    background: lighten(cornflowerblue, 23%);
    border: 1px solid cornflowerblue;
    border-radius: .25rem;
    color: #222;
    display: flex;
    font-size: 1.5rem;
    padding: .5rem;
    text-align: center;
    width: 20rem;
    &:hover {
        background: lighten(cornflowerblue, 13%);
    }
    img {
        margin: .25rem;
    }
}